/* Imports - Tipografía */
@font-face {
  font-family: "AkzidenzGrotesk";
  src: url("https://res.cloudinary.com/dxhqrq4hc/raw/upload/v1649443896/AkzidenzGrotesk-Bold_a2qjyz.woff") format("woff");
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;

}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 0, 0);
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Variables */
:root {
  /* 1. Colores */
  --black: #000000;
  --white: #ffffff;
  /* 2. Tipografía */
  --font-sans: "AkzidenzGrotesk";
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-fluid-1: clamp(1rem, 4vw, 1.5rem);
  --font-size-fluid-2: clamp(1.5rem, 6vw, 2.5rem);
  --font-size-fluid-3: clamp(2rem, 9vw, 3.5rem);
  /* 3. Layouts */
  --size-mobile: 414px;
  --size-desktop: 1440px;
}

/* Base */
body {
  font-family: var(--font-sans);
  background-color: var(--white);
  color: var(--black);
}

/* Home */
.home {
  background-color: rgb(255, 255, 255);
  width: calc(100vw - 210px);
  margin-left: auto;
  display: grid;
}

/* Nav */
.nav {
  position: fixed;
  top: 0;
  margin-left: 1rem;
  width: 180px;
}

.nav ul {
  top: 0;
  background-color: rgb(255, 255, 255);
}

.nav ul li {
  border: 2px solid black;
  margin-bottom: 0.9rem;
  box-shadow: -2px 2px 1px 2px rgb(0 0 0);
}

/* Main */
.main {
  border: 3px solid black;
  border-left: 0;
  flex: 1;
}

/* Destacados */
.destacados h2 {
  font-size: 30px;
  text-align: center;
}

.destacados div {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  padding-block: 30px;
  gap: 20px;
}

.destacados img {
  border: 2px solid;
  max-width: 100%;
}

/* Galeria */
.galeria {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  background: rgb(255, 255, 255);
  padding-block: 30px;
  /* border: 2px solid black; */
  /* border-left: 2px solid;
  border-right: 2px solid;
  border-top: 2px solid; */
}

.galeria img {
  border: 2px solid black;
}

/* .galeria h2 {
  order: 1;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: center;
} */
.footer {
  background-color: rgb(255, 255, 255);
  width: calc(100vw - 210px);
  margin-left: auto;
}

.footer div:first-of-type {
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  text-align: center;
}

.footer div:last-of-type {
  display: flex;
  padding-block: 50px;
  justify-content: space-around;
}

.footer .contacto {
  margin-top: 40px;
  padding: 50px 0;
}

.footer .contacto h3 {
  font-size: 16px;
}

.footer .contacto p {
  font-size: 32px;
  line-height: 2;
}

.footer .contacto form {
  display: grid;
  max-width: 60%;
  margin: auto;
  margin-top: 12px;
  gap: 1rem;
}

.footer .contacto form input,
.footer .contacto form textarea {
      border: 2px solid #000;
        box-shadow: inset 0 1px 3px rgb(0, 0, 0);
        border-radius: 0;
        padding-inline: 12px;
        padding-block: 10px;
        color: rgb(0 0 0);
        font-family: "AkzidenzGrotesk";
        text-transform: uppercase;
}

.footer .contacto form textarea {
  padding: 1rem;

}

.footer .contacto form button {
      max-width: max-content;
        margin-inline: auto;
        background-color: rgba(51, 51, 51, 0.05);
        border: 2px solid rgb(0 0 0);
        box-shadow: -2px 2px 1px 2px rgb(0 0 0);
        -moz-box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.75);
        font-size: 14px;
        color: #000000;
        margin-top: 12px;
        padding: 10px 12px;
        text-align: center;
        transition: all 200ms;
        vertical-align: baseline;
        white-space: nowrap;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        font-family: "AkzidenzGrotesk";
        text-transform: uppercase;

}

.logo{
  width: 60%;
  margin: auto;
  margin-bottom: 1.5rem;
}

.heder-titulo{
  color: #000000;
  font-size: 2.5em;
  text-align: center;
  font-weight: 400;
}

.footer-logo {
  width: 18%;
    margin: auto;
    margin-left: -0.2rem;
}

::placeholder{
  color: #000;
}

@media screen and (max-width: 600px) {

  .destacados div,
  .galeria {
    display: block;
  }
}
